Header {
  position: relative;
  display: block;
  background-color: #282c34;
  height: 50px;
  width: 100%;
  color: white;
}

logo{
  position: absolute;
  top: 30%; left: 15px;
}

username{
  position: absolute;
  top: 30%; right: 15px;
}